---
BasedOnStyle: Google
---
Language: Cpp
IndentWidth: 2
ColumnLimit: 80
UseTab: Never
AccessModifierOffset: -2
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine : All
AllowShortLoopsOnASingleLine: true
BinPackParameters: true
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: true
SortIncludes: false
IncludeBlocks: Preserve
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeCtorInitializerColon: true
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: false
Standard: Cpp11
Cpp11BracedListStyle: true
AlwaysBreakTemplateDeclarations: false
FixNamespaceComments: false
BreakBeforeBraces: Stroustrup
# IndentPPDirectives: AfterHash